<footer>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odio delectus quod ex tempore blanditiis neque
        unde, eaque similique provident eligendi molestiae reprehenderit tempora? Quae similique magnam ducimus atque!
        Voluptates.</div>
</footer>