//- html
//-     head 
//-         link(href='css/style.min.css')
//-     body 
//-         include html/header
//-         main.page 
//-             h1 Привіт!
//-             img(src="@img/cover.png")
//-         include html/footer
//-         script (src='js/app.min.js')